@model Ecommerce.Models.Usuario

@{
    ViewData["Title"] = "Cadastro_Produto";
}

<h2>Cadastro</h2>

<form asp-action="Cadastro" method="post">
    <div>
        <label>Nome:</label>
        <input asp-for="Nome" required />
    </div>
    <div>
        <label>Descricao:</label>
        <input asp-for="Descricao" type="text" required />
    </div>
    <div>
        <label>Preco:</label>
        <input asp-for="Preco" type="text" required />
    </div>
    <button type="submit">Novo Cadastrado</button>
</form>